.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .loginlayout { 
      padding-top: 2rem;
      width: 30rem;
      padding-bottom: 2rem;
  }

  .fullscreenlayout{ 
    display : flex;
    height : 500px;

}


